.Page {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ItemsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.ItemsColumn {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
}

.OptionsRow,
.OptionsLeftColumn,
.OptionsMiddleColumn,
.OptionsRightColumn {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2ch;
}
.OptionsLeftColumn {
  justify-content: flex-start;
}
.OptionsMiddleColumn {
  justify-content: center;
}
.OptionsRightColumn {
  justify-content: flex-end;
}

.InputLabel {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
.Input[data-type="cards"] {
  width: 8ch;
}
.Input[data-type="coins"] {
  width: 12ch;
}
.Input[data-type="gems"] {
  width: 8ch;
}

.BuyCardsToggle {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  color: #fff;
}

@media (max-width: 850px) {
  .OptionsRow {
    flex-direction: column;
    gap: 0.5rem;
  }

  .OptionsLeftColumn {
    order: 2;
  }

  .InputLabel {
    font-size: 1rem;
  }

  .OptionsRow,
  .OptionsLeftColumn,
  .OptionsMiddleColumn,
  .OptionsRightColumn {
    gap: 1ch;
  }
}
