.Page {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #111;
}

.OptionsRow,
.OptionsColumn {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2ch;
}
.OptionsColumn:first-of-type {
  justify-content: flex-start;
}
.OptionsColumn:last-of-type {
  justify-content: flex-end;
}

.InputLabel {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
.Input {
  font-size: 1rem;
}
.Input[data-type="cards"] {
  width: 7ch;
}
.Input[data-type="coins"] {
  width: 12ch;
}
.Input[data-type="gems"] {
  width: 8ch;
}

.BuyCardsToggle {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  color: #fff;
}
