.Container,
.CenterColumn,
.LeftColumn,
.RightColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.RightColumn {
  flex-wrap: wrap;
}

.Description {
  width: 9.5rem;
  display: flex;
  flex-direction: column;
}

.Image {
  height: 6rem;
  width: 6rem;
}
.NestedImage {
  height: 4rem;
  width: 4rem;
}

.CardInputLabel {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
.CardInput {
  font-size: 1rem;
  width: 6ch;
}

.ComponentItemsContainer {
  border-left: 1px solid lightslategray;
  padding-left: 1ch;
  margin-left: 1ch;
}
.ComponentItemsContainer[data-is-complete] {
  opacity: 0.5;
}

@media (max-width: 900px) {
  .Container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .RightColumn {
    padding-bottom: 1rem;
  }

  .ComponentItemsContainer {
    width: 100%;
    border-left: none;
    padding-left: 0;
    margin-left: 0;
    border-top: 1px solid lightslategray;
    padding-top: 1ch;
    margin-top: 1ch;
  }
}
