.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.Description {
  width: 10rem;
  display: flex;
  flex-direction: column;
}

.Name {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.Image {
  height: 4rem;
  width: 4rem;
}
.ImagePlaceholder {
  width: 0;
  height: 0;
  border: 2rem solid transparent;
  border-bottom-color: lightslategray;
  position: relative;
  top: -2rem;
}
.ImagePlaceholder:after {
  content: "";
  position: absolute;
  left: -2rem;
  top: 2rem;
  width: 0;
  height: 0;
  border: 2rem solid transparent;
  border-top-color: lightslategray;
}

.Markers {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}
.LevelMarkers,
.UpgradeMarkers {
  width: 7rem;
}

.LevelMarkers {
  color: #74d0fe;
  font-size: 0.8rem;
}

.UpgradeMarkers {
  color: #74d522;
}
.UpgradeMarkersInactive {
  color: darkslategray;
}
.UpgradeMarkers,
.UpgradeMarkersInactive {
  height: 0.5rem;
  line-height: 0.5rem;
}

.CardInputLabel {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
.CardInput {
  font-size: 1rem;
  width: 6ch;
}

.Costs {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1ch;
}

.Cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.AddOrSubtractIcon {
  width: 1rem;
  height: 1rem;
  color: white;
  cursor: pointer;
}
.AddOrSubtractIcon[data-disabled] {
  color: darkslategray;
  cursor: default;
}
