.Container {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  border-radius: 0.5rem;
  padding: 0.5rem;

  background-color: #031134;
  background: linear-gradient(45deg, #020724, #02193e);
  border: 1px solid lightslategray;
  color: #fff;
}
.Container[data-complete] {
  border-color: #74d522;
}

.Description {
  width: 18rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.Column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Name {
  font-weight: bold;
  font-size: 1.2rem;
}

.Image {
  height: 6rem;
  width: 6rem;
}

.ShipContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.Costs {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.Checkbox {
  margin: 0;
  border: none;
}

.Cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}
.Cost[data-disabled] {
  filter: grayscale(1);
}
