.DebugInfo {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.DebugInfoColumn {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.DebugInfoRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1ch;
}

.DebugInfoIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fff;
}
