.TopRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.MenuButton {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.MenuIcon {
  color: #fff;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  color: #fff;
}

.Item {
  overflow: hidden;
  border-radius: 0.5rem;
}

.ItemImageAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1ch;

  padding: 0.25rem 0.5rem;
  background-color: #0004;
}

.ItemImage[data-tier="2"] {
  width: 5rem;
  height: 5rem;
}
.ItemImage[data-tier="1"] {
  width: 2.5rem;
  height: 2.5rem;
}

.CreatedByMergingItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.25rem 0 0.5rem;
  gap: 0.25rem;
}
