.Button {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-self: unset;

  color: inherit;

  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.Button:focus,
.Button:hover {
  filter: brightness(0.75);
}
.Button:disabled {
  opacity: 0.5;
}

.Icon {
  fill: currentColor;
}
