.Input {
  width: 100%;
  background: black;
  color: #fff;
  outline: none;
  border: 2px solid darkslategray;
  padding: 0.25rem 1ch;
  border-radius: 0.5rem;
}
.Input:focus {
  border-color: #74d522;
}
