.Costs {
  width: 100%;
  font-size: 0.75rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1ch;
}

.Cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}
.Cost[data-disabled] {
  opacity: 0.5;
}

.BatteryImage,
.DroneBoxImage,
.ShipBoxImage {
  height: 20px;
  width: 20px;
}
