.Label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background: #0005;
  color: white;
}
.Label[data-selected] {
  background: #000c;
}

@media (max-width: 850px) {
  .Label {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
  }
}
