.Button {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-self: unset;

  color: inherit;

  background: none;
  border: none;
  outline: none;

  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.Button:hover,
.Button:focus {
  background: rgba(255, 255, 255, 0.05);
}
.Button:disabled {
  opacity: 0.5;
}
