.Group {
  flex: 0 0 auto;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  overflow: hidden;
  background: var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.Action {
  flex: 0 0 auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #031134;
}

.Action[data-error] {
  align-items: center;
  gap: 0.5rem;
  background-color: #473036;
}

.MiddleColumn {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.ActionPrimaryLabel {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-bottom: 0.5rem;
}

.ActionsColumn {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.125rem;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}
.Row[data-compact] {
  gap: 0.25rem;
}
.Row[data-indent] {
  padding-left: 2ch;
}

.ItemImage {
  flex: 0 0 var(--image-size-normal);
  width: var(--image-size-normal);
  height: var(--image-size-normal);
}

.DeleteButton,
.EditButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  background: rgba(0, 0, 0, 0.25) !important;
  border-radius: 0.25rem;
  padding: 0.5rem !important;
  font-size: var(--font-size-small);
}
.DeleteButton {
  color: var(--color-delete);
}
.EditButton {
  color: var(--color-default) !important;
}
.DeleteButton:hover,
.DeleteButton:focus,
.EditButton:hover,
.EditButton:focus {
  background: rgba(0, 0, 0, 0.5) !important;
}

.EditButtonIcon,
.DeleteButtonIcon {
  width: 1rem;
  height: 1rem;
}

.LargeText {
  font-size: var(--font-size-large);
}

.SmallText {
  font-size: var(--font-size-small);
}

.DebugInfo {
  margin-top: 0.5rem;
}

.AddActionButton {
  width: 100%;
  padding: 0.25rem 0.75rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  justify-content: center;
  gap: 1ch;
}

.AddActionIcon {
  width: 1rem;
  height: 1rem;
}

.AddActionButton:hover {
  filter: none;
}
.AddActionButton:hover .AddActionIcon {
  color: #81ff12;
}

.GroupCostRow {
  padding: 0.25rem 0.5rem;
}
