.Page {
  height: stretch;
  display: flex;
  flex-direction: column;
}

.StartUpgradeButton {
  margin: 0 0.25rem;
  border-radius: 0.25rem !important;
  background-color: darkslategrey !important;
  background: linear-gradient(slategray, darkslategray);
  font-size: var(--font-size-large);
  justify-content: center;
  cursor: pointer;
}
.StartUpgradeButton:hover {
  background-color: darkslategrey !important;
  background: linear-gradient(#607080, #1e3e3e);
}

.BlockSection {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1ch;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0.25rem;
  border-radius: 0.25rem;
}

.MainSection {
  overflow: auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
