.Page {
  height: stretch;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.StartUpgradeButton {
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem;
}

.BlockSection {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1ch;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0.25rem;
  border-radius: 0.25rem;
}

.MainSection {
  overflow: auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 0.5rem;
}

.Cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}
