.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Card {
  background-color: #031134;
  background: linear-gradient(45deg, #031134, #020724);
  color: #fff;
  width: 40ch;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.Name {
  font-weight: bold;
  color: #8f1;
}

.ImageCrop {
  border-radius: 1rem;
  float: right;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  width: 6rem;
  transform: rotate(45deg);
  overflow: hidden;
}

.Image {
  max-width: 100%;
  transform: rotate(-45deg) scale(1.25);
}

.UnlockedByLabel {
  color: #5cd;
  font-weight: bold;
}

.Description {
  margin-top: 1rem;
}
